In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/penguins.csv")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [3]:
df.to_csv("../data/raw/data.csv", index=False)

In [4]:
dicionario = pd.DataFrame([
    {
        "variavel": "species",
        "descricao": "Nome da espécie",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "island",
        "descricao": "Nome da ilha onde foi feita a medição",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "bill_length_mm",
        "descricao": "Comprimento de bico",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "bill_depth_mm",
        "descricao": "Profundidade (altura) de bico",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "flipper_length_mm",
        "descricao": "Comprimento de nadadeira",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "body_mass_g",
        "descricao": "Massa corporal (peso)",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos indivíduos",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,species,Nome da espécie,qualitativa,nominal
1,island,Nome da ilha onde foi feita a medição,qualitativa,nominal
2,bill_length_mm,Comprimento de bico,quantitativa,continua
3,bill_depth_mm,Profundidade (altura) de bico,quantitativa,continua
4,flipper_length_mm,Comprimento de nadadeira,quantitativa,continua
5,body_mass_g,Massa corporal (peso),quantitativa,continua
6,sex,Sexo dos indivíduos,qualitativa,nominal